:root {
  --primary-color: #0E243F;
  --secondary-color: #3F72AF;
  --terniary-color: #8CB7EC;
  --quaternary-color: #DBE2EF;
  --quinary-color: #F9F7F7;
}

.imageProduct img{
  height: 70vh;
  background-color: #ebebeb;
  border-radius: 30px;
}

.imageProduct {
  display: flex;
  justify-content: flex-end;
  align-content: flex-start;
}

.textBox {
  display: flex;
  align-content: flex-start;
  flex-wrap: wrap;
  height: 70vh;
}

.textBox .text {
  width: 100%;
}

.textBox .title , .description .title, .reviews .title{
  font-size: 40px;
  font-family: "Montserrat";
  font-weight: 700;
}

.textBox .textOne, .descriptionText{
  font-size: 18px;
  font-family: "Roboto";
}

.textBox .textTwo {
  font-size: 26px;
  font-family: 'Roboto';
  font-weight: 400;
  color: var(--primary-color);
  margin-bottom: 2vh;
}

.textBox .textThree {
  font-size: 34px;
  font-family: 'Roboto';
  font-weight: 500;
  color: var(--primary-color);
  margin-top: 2vh;
  margin-bottom: -0.9vh;
}

.buttonOne, .buttonTwo, .buttons {
  width: 100%;
}

.buttonBuy, .buttonCart {
  border-radius: 15px;
  height: 10vh;
  width: 55%;
  font-size: 26px;
}

.buttonBuy {
  margin-top: 5.4vh;
  margin-bottom: 1vh;
  background-color: var(--secondary-color);
  color: var(--quaternary-color);
}

.buttonCart {
  margin-top: 1vh;
  margin-bottom: 2.5vh;
  background-color: var(--quaternary-color);
}

.productTop {
  margin-top: 50px;
  margin-bottom: 50px;
}

.descriptionText {
  margin-top: -30px;
}

.description {
  padding: 30px 0px;
}

.review {
background-color: var(--quaternary-color);
min-height: 250px;
border-radius: 15px;
}

.review .boxText {
  margin: 20px;
}

.review{
  font-family: "Roboto";
}

.name {
  font-size: 26px;
  font-weight: 600;
}
.email {
  font-size: 14px;
  margin-top: -5px;
  margin-bottom: 20px;
  font-weight: 300;
}
.rating {
  font-size: 20px;
  font-weight: 500;
}